.search_btn {
    background-color: #E50914;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search_btn:hover {
    background-color: #f40612;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search_btn:active {
    background-color: #c1080f;
    transform: scale(0.98);
}