.movie_type {
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow:
        0 0 5px #40E0D0,
        /* Turchese chiaro */
        0 0 5px #40E0D0,
        0 0 5px #40E0D0,
        0 0 5px #00CED1,
        /* Turchese più intenso */
        0 0 5px #48D1CC;
    /* Sfumatura morbida */

    font-size: 3.4rem;
    font-weight: 800;
    margin: 30px 0;
}

.section_top {
    margin-top: 126px;
}

.section_bot {
    margin: 50px 0;
}