.movie_type {
    color: white;
    text-shadow:
        0 0 1px #E50914,
        0 0 1px #E50914,
        0 0 1px #E50914,
        0 0 1px #ff0000,
        0 0 1px #ff4500;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 10px 0;
}