header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.title {
    color: #E50914;
    text-shadow:
        0 0 5px #E50914,
        0 0 10px #E50914,
        0 0 20px #E50914,
        0 0 40px #ff0000,
        0 0 80px #ff4500;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
}