* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-wrap: wrap;
}

body {
    font-family: 'Bodoni Moda', serif;
    background-color: #1E1E1E;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    padding: 10px;
}

.card {
    border-radius: 15px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
}