* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-wrap: wrap;
}

body {
    font-family: "Rubik Glitch", system-ui;
    background-color: #130e44;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.col {
    width: 25%;
    padding: 2px;
}

.row:hover .card {
    opacity: 0.9;
}

/* Mantieni la card attiva ingrandita */
.row:hover .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 47, 255, 0.4), 0 4px 6px rgba(106, 0, 255, 0.2);
    z-index: 1;
    opacity: 1;
    font-size: 12px;

}

.card {
    font-family: "Comic Neue", serif;
    overflow: hidden;
    color: rgb(253, 253, 253);
    border-radius: 7px;
    width: 100%;
    background-color: #000000;
    padding: 5px;
    border: 1px solid #ccc;
    height: 425px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 26, 255, 0.3), 0 1px 3px rgba(13, 60, 213, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card>p {
    margin: 35px 0;
}



.card:hover .card-img {
    opacity: 0.2;
}

hr {
    background-color: rgba(26, 255, 0, 0.348);
    border: none;
    height: 1.2px;
}