* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.col {
    width: 25%;
}

.card {
    width: 100%;
}